<html layout:decorate="/template.html">
<head>
	<title>Users</title>
</head>
<body>
	<div layout:fragment="content">
		<h1>List User</h1>
		<a th:href="@{/user/new}">New</a>
		
		<form th:action="@{/user/search}" method="get" th:object="${searchDTO}">
			<input th:feild="*{keyword}" placeholder="Tim ten..">
			<p th:errors="*{keyword}"></p>
			<input name="currentPage" th:feild="*{currentPage}" placeholder="Trang hien tai..">
			<input name="size" th:value="${searchDTO?.size}" placeholder="SL ban ghi/ trang" >
			<input name="sortedField" th:value="${searchDTO?.sortedField}" placeholder="Sap xep theo thuoc tinh"/>
			
			<button type="submit">Search</button>
		</form>
		
		<p th:value="${totalPage}"></p>
		<p th:value="${totalElements}"></p>
		
		<table border="1">
			<!-- Dòng tiêu đề bảng -->
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Username</th>
				<th>Avatar</th>
				<th>Department</th>
				<th>Actions</th>
			</tr>
			<!-- Các dòng nội dung bảng Expression Language-->
			
			<tr th:each="u : ${userList}">
				<td th:text="${u.id}">1</td>
				<td th:text="${u.name}">Test</td>
				<td th:text="${u.username}"></td>
				<td>
					<img th:src="@{'/user/download?filename=' + ${u.avatarURL}}"/>
				</td>
				<td th:text="${u.department}"></td>
				<!-- Sẽ gọi hàm getName() -->
				<td>
					<a th:href="@{'/user/delete?id=' + ${u.id}}">Delete</a>
					<a th:href="@{'/user/edit?id=' + ${u.id}}">Edit</a>
				</td>
			</tr>
			
		</table>
	</div>
</body>
</html>